.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.sides {
  height: 100%;
  width: 100%;
}

.leftSide {
  background: #f9eb63;
}

.leftText {
  position: relative;
  width: 200px;
  left: 150px;
  top: 250px;
  color: #5e6dcf;
  font-size: 80px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

.rightText {
  width: 200px;
  position: relative;
  right: 180px;
  bottom: 250px;
  font-size: 80px;
}
